-cache [question, question.user] do
  %ul
    %li
      %span.ques
        -if question.user
          =link_to question.ques, user_question_path(user_id:question.user.id, id:question.id)
        -else
          =question.ques
      %span.byques
        by
      %span.quesusername
        -if question.user
          -cache question.user do
            =question.user.name
        -else
          DEAD USER
      %span.questime
        %span.questimef
          =time_ago_in_words question.created_at
        %span.quesago
          ago
      -if question.user && current_user==question.user
        %span.queseditlink.hvr-back-pulse.hvr-grow-shadow
          =link_to("edit",edit_user_question_path(user_id:question.user.id,  id:question))
      %span.quesans
        (
        =pluralize(question.answers.count,'answer')
        )

