.container
  %h2 Ask a Question
  -if signed_in?
    =render partial:"questions/form", locals:{question:@question, submit:"Ask a Question"}
  -else
    =render partial:"guest"
  %hr
  %h3 Unsolved Questions
  =render @questions
  =will_paginate @questions
