.container
  %h2 Ask a Question
  -if signed_in?
    =render partial:"questions/form", locals:{question:@question}
  -else
    %h4 Please login to ask or answer questions
  %hr
  %h3 Unsolved Questions
  %ul
    -@questions.each do |q|
      %li
        =q.ques
        %span
          by
          =q.user.name
          =time_ago_in_words q.created_at
          ago
