.container
  %h2
    =@question.user.name.capitalize
    asks:
  =@question.ques
  %hr
  -if @question.answers.count > 0
    %h3 Answers
    %ul
      -@question.answers.each do |ans|
        %li
          =ans.ans
          by
          =ans.user.name.capitalize
  -else
    %h3 Be the first one to answer
  %hr
  %h3
    Answer this Question
  -if signed_in?
    =form_for [current_user, @question, Answer.new] do |f|
      .form-group.hvr-wobble-horizontal
        =f.text_field :ans,
        class:"form-control",
        required:true, pattern:'.{3,}',
        placeholder:"Answer"
      =f.submit "Post Answer", class:"btn btn-info"
  -else
    please login to post answer to this question
  %hr
