.container
  %h2 Ask a Question
  -if signed_in?
    =form_for :question do |f|
      =f.label :question
      =f.text_field :ques
      =f.submit "Ask a Question", class:"btn btn-info"
  -else
    %h4 Please login to ask or answer questions
  %hr
  %h3 Unsolved Questions
  %ul
    -@questions.each do |q|
      %li q.ques