%nav.row
  %ul.nav.nav-pills.col-xs-8.col-xs-offset-1
    %li{class:current_page?(root_path) && "active"}
      =link_to 'Home', root_path
      -if signed_in?
        %li{class:current_page?(new_user_path) && "active"}
          =link_to 'Your Q', user_questions_path(current_user)
        %li{class:current_page?(session_path) && "active"}
          =link_to "Logout(#{current_user.name})", session_path, method: :delete
      -else
        %li{class:current_page?(new_user_path) && "active"}
          =link_to 'Register', new_user_path
        %li{class:current_page?(new_session_path) && "active"}
          =link_to "Login", new_session_path
